<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/error.css">
    <title>Alerta</title>
</head>
<body class="container">
    <h1 class="titulo">Alerta</h1>
    <h2 class="subtitulo">Você não está matriculado em nenhum curso!</h2>
    <form action="curso_user">
        <label for="cadatro">Deseja matricular-se?</label><br>
        <button>Matricular</button>
    </form>
</body>
</html>