<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/flexbox_curso.css">
    <link rel="stylesheet" href="../static/css/estilo_curso.css">
    <link rel="stylesheet" href="../static/css/reset_curso.css">
    <title>Meus Cursos</title>
    <link rel="shortcut icon" href="./img/favicon.ico" type="image/x-icon">
</head>

<body>
    <header>
        <nav>
            <a href="curso_user">
                <span class="icon-voltar"><i class="bi bi-backspace"></i></i></span>
            </a>
        </nav>
    </header>
    <ul class="cursos__container" alt="videos cursos" data-lista data="cursos">
        {% for curso in data %}
        <li class="cursos__item">
            <iframe id="url" width="100%" height="72%" src="{{curso.url}}"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            <div class="descricao-curso">
                <img src="{{curso.imagem}}">
                <h3>{{curso.titulo}}</h3>
                <p>{{curso.descricao}}</p>
            </div>
        </li>
        {% endfor %}
    </ul>
</body>

</html>

