:root {
    --primary-color: rgb(17, 86, 102);
    --primary-color-darker: rgb(9, 48, 56);
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}
body{
    height: 100vh;
    background-color: rgb(17, 86, 102);
}
nav.menu-lateral{
    width: 80px;
    height: 100%;
    background-color: rgb(8, 39, 46);
    padding: 50px 0 40px 1%;
    box-shadow: 3px 0 0 rgb(2, 22, 26);

    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .2s;
}
nav.menu-lateral:hover{
    width: 250px;
}
.btn-expandir{
    width: 100%;
    padding-left: 10px;
}
.btn-expandir > i{
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}
ul{
    height: 100%;
    list-style-type: none;
}
ul li.item-menu{
    transition: .2s;
}
ul li.ativo{
    background-color: rgb(2, 22, 26);
}
ul li.item-menu:hover{
    background-color: rgb(2, 22, 26);
}

ul li.item-menu a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}
ul li.item-menu a .txt-link{
    margin-left: 30px;
}

ul li.item-menu a .icon > i{

    font-size: 30px;
    margin-left: 10px;
   
}